.nav-link{
    color:rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 15px;
}
.nav-link:hover{
    color:rgb(53, 5, 101)
}
.navbar-brand{
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    color: rgb(0, 0, 0);
}
.navbar-brand:hover{
    color:rgb(0, 0, 0);
}
