.footer{
    /* background-color: darkblue; */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: auto;
    bottom: 0%;
}
.footer div{
    margin-top: 4px;
    margin-bottom: 4px;
}